{% extends 'layout.pug' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.section
 .columns
  .column.is-8.is-offset-2
   .block
    .title.is-1 {{team.name}}
    .subtitle.is-5.text-icon
      {% if team.active_subscription %}
      span.icon-text
        span.icon
          👑
        span Pro Team
      {% else %}
      span.icon-text
        span.icon
          i.fas.fa-globe
        span Team
      {% endif %}

   .block
    {% if user_repo.is_member(user, team) %}
    a(href="{{url_for('leave', team_name=team.name)}}").button
      span.icon.is-small
        i.fas.fa-signature
      span Leave
    {% else %}
    {% if team.can(Permissions.can_join, user, membership) %}
    a(href="{{url_for('join', team_name=team.name)}}").button
      span.icon.is-small
        i.fas.fa-signature
      span Join Team
    {% else %}
    p.notification.is-warning.is-light You cannot join this team. You must be invited.
    {% endif %}
    {% endif %}

    {% if user and team.user_id == user.id %}
    a(href="{{url_for('settings', team_name=team.name)}}").button.is-warning
     span.icon-text
      span.icon.is-small
       i.fas.fa-edit
      span Admin Setting
    {% endif %}

   .block
    .title.is-3 Description
    .box
     {% if team.headline %}
     p {{team.headline}}
     {% else %}
     p.is-italic no description provided
     {% endif %}

   .block
    .title.is-3 Topics

    p.block
     span.tag.is-primary Subscribed
     span.tag Unsubscribed
    // TODO: might want to make this a different permission to be able to list topics!
    {% if not team.can(Permissions.can_read, user, membership) %}
    span.is-italic confidential
    {% else %}

    div(hx-ext="client-side-templates")
      template#list_topics
        {% raw %}
        {{#each this}}
        tr
         td {{name}}
         td
          {{#if subscribed}}
          a(href="{{toggle_url}}" data-tooltip="Subscribe to topic")
            .button.is-primary
              span.icon
                i.fas.fa-sign-out
          {{else}}
          a(href="{{toggle_url}}" data-tooltip="Unsubscribe from topic")
            .button
              span.icon
                i.fas.fa-sign-in
          {{/if}}
        {{/each}}
        {% endraw %}
      .field.is-horizontal
        .field-body
          .control.has-icons-left
            input.input#team_name(hx-post="{{url_for('api_list_topics_in_team', team_name=team.name)}}"
              hx-swap="innerHTML"
              hx-target="#table_content"
              hx-trigger="input changed delay:500ms, search"
              handlebars-array-template="list_topics"
              placeholder="Search Topics"
              name="search")
            span.icon.is-left
             i.fas.fa-search
      table.table.is-narrow.is-striped(hx-get="{{url_for('api_list_topics_in_team', team_name=team.name)}}"
          hx-swap="innerHTML"
          hx-target="#table_content"
          hx-trigger="load"
          handlebars-array-template="list_topics")
        thead
          th Topic
          th Un-/Subscribe
        tbody#table_content
      .field.is-horizontal
        .field-body
          .control.has-icons-left
            input.input#team_name(type="string" placeholder="New Topic" name="topic" hx-post="{{url_for('create_topic_htx', team_name=team.name)}}" hx-target="#topic_created")
            span.icon.is-left
              i.fas.fa-plus
          span(id="topic_created")
    {% endif %}

   .block
    .title.is-3 Public Permissions
    .column.is-5
     table.table.is-fullwidth
      thead
       td(data-tooltip="Join")
        i.fas.fa-sign-in
       td(data-tooltip="Read")
        i.fas.fa-glasses
       td(data-tooltip="Post")
        i.fas.fa-pencil
       td(data-tooltip="Modify")
        i.fas.fa-edit
       td(data-tooltip="Create Topics")
        i.fas.fa-plus
      tbody
       tr
        {% for perm in [Permissions.can_join, Permissions.can_read, Permissions.can_post, Permissions.can_modify, Permissions.can_create_topics] %}
        td
         {% if perm in Permissions(team.public_permissions) %}
         i.fa.fa-check
          {% else %}
         i.fa.fa-times
         {% endif %}
        {% endfor %}

{% endblock %}
