{% macro icon(name) %}
span.icon
 i{{name}}
{% endmacro %}

{% macro bool_icon(flag) %}
{% if flag %}
span.icon
 i.fas.fa-check
{% else %}
span.icon
 i.fas.fa-times
{% endif %}
{% endmacro %}

{% macro permissions(type, team_perms) %}
table.table.is-striped.is-normal
 {% for perm in Permissions %}
 tr
  td {{perm.name | replace("_", "-")}}
  td
   a(href="{{url_for('toggle_team_perms', team_name=team.name).include_query_params(perm=perm.value, type=type) | safe}}")
    {% if perm in Permissions(team_perms) %}
    i.fa.fa-check
    {% else %}
    i.fa.fa-times
    {% endif %}
 {% endfor %}
{% endmacro %}

{% macro member_permissions(member) %}
{% if not member.permissions %}
{% set perms = team.member_permissions %}
{% else %}
{% set perms = member.permissions %}
{% endif %}
{% for perm in Permissions %}
{% if perm.name != "can_join" %}
td.has-text-light
 a(class="{% if not member.permissions %}has-text-light{% endif %}" href="{{url_for('toggle_member_perms', team_name=team.name).include_query_params(perm=perm.value, member_id=member.id) | safe}}")
  {% if perm in Permissions(perms) %}
  i.fa.fa-check
  {% else %}
  i.fa.fa-times
  {% endif %}
{% endif %}
{% endfor %}
td.has-text-light
 a(class="{% if not member.permissions %}has-text-light{% endif %}" href="{{url_for('toggle_member_perms', team_name=team.name).include_query_params(member_id=member.id) | safe}}")
  i.fa.fa-redo
{% endmacro %}

{% extends 'layout.pug' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.section
 .columns
  .column.is-8.is-offset-2
   .block
    .title.is-1 {{team.name}}

   .block
    .title.is-3 Team Settings
    .field.is-horizontal
      .field-label.is-normal Headline
      .field-body
        .control.has-icons-left
          input.input(type="string" placeholder="Tagline" name="headline" hx-post="{{url_for('update_team_headline', team_name=team.name)}}" hx-trigger="input changed delay:500ms, search" hx-target="#updated_team_headline" value="{{team.headline}}")
          span.icon.is-left
           i.fas.fa-expand
        span(id="updated_team_headline")
     form(hx-post="{{url_for('update_team_description', team_name=team.name)}}" hx-target="#updated_team_description")
     .field.is-horizontal
       .field-label.is-normal Description
       .field-body
         .control
           textarea.textarea(type="string" placeholder="Description" name="description") {{team.description}}
           small.helper Markdown supported
           span#updated_team_description
           button.button.is-block.is-link.is-fullwidth.is-normal.m-0 Subscribe

    // .field.is-horizontal
    //  .field-label.is-normal Hide Team
    //  .field-body
    //   .control
    //    {% if team.hide %}
    //    input.switch(id="hide_team" checked="checked" type="checkbox" name="hide" hx-post="{{url_for('update_team_hide', team_name=team.name)}}" hx-target="#updated_team_hide")
    //    {% else %}
    //    input.switch(id="hide_team" type="checkbox" name="hide" hx-post="{{url_for('update_team_hide', team_name=team.name)}}" hx-target="#updated_team_hide")
    //    {% endif %}
    //    label(for="hide_team")
    //    span(id="updated_team_hide")

   .block
    .title.is-3 Permissions
    .subtitle.is-5 Customize Team Permissions
    p.block Click the check marks/crosses to flip the corresponding permission.
    table.table.block
     tr
      th
       .icon-text
        .span.icon
         i.fa.fa-user
        span Owner
      th
       .icon-text
        .span.icon
         i.fa.fa-shield
        span Member
      th
       .level
        .level-item
         .icon-text
          .span.icon
           i.fa.fa-globe
          span Public
        .level-item
     tr
      td
       {{permissions("owner", team.owner_permissions)}}
      td
       {{permissions("member", team.member_permissions)}}
      td
       {{permissions("public", team.public_permissions)}}

   .block
    .title.is-3 Members
    .subtitle.is-5 List of users subscribed to your team
    p.block
     |Customize your members permissions. By default,&nbsp;
     span.is-underlined Member/Group permissions apply!
    {% if members %}
    nav.block.pagination(role="navication" aria-label="pagination")
     {% if page %}
     a.pagination-previous(href="{{url_for('settings', team_name=team.name).include_query_params(type=type, size=size, page=page-1) | safe}}") Previous
     {% endif %}
     {% if documents | length == size %}
     a.pagination-next(href="{{url_for('settings', team_name=team.name).include_query_params(type=type, size=size, page=page+1) |safe}}") Next Page
     {% endif %}
    table.table
     thead
      tr
       th
        span.icon
         i.fas.fa-user
       td
       td(data-tooltip="Read")
        i.fas.fa-glasses
       td(data-tooltip="Post")
        i.fas.fa-pencil
       td(data-tooltip="Modify")
        i.fas.fa-edit
       td(data-tooltip="Create Topics")
        i.fas.fa-plus
       td(data-tooltip="Invite")
        i.fas.fa-user-plus
       td(data-tooltip="Reset to Team permissions")
        i.fas.fa-redo
       td
       td(data-tooltip="Remove")
         i.fas.fa-trash
     {% for member in members %}
     tr
      td {{member.user.username}}
      td
      {{ member_permissions(member) }}
      td
      td
       a.button.is-small(href="{{url_for('remove_user', team_name=team.name, membership_id=member.id)}}")
        span.icon.is-small
         i.fas.fa-trash
     {% endfor %}
    {% else %}
    p No members have joined yet.
    {% endif %}

   .block
    .title.is-3 Invite Users
    .subtitle.is-5.mb-0 Add others to your team
    .subtitle.is-7 You have&nbsp;
     strong {{team.seats}}
     |&nbsp;in your subscription
    .control.has-icons-left
     input.input(type="tags" id="invite-users" name="name" hx-post="{{url_for('settings_user_search', team_name=team.name)}}" hx-trigger="input changed delay:500ms, search" hx-target="#users")
     span.icon.is-left
      i.fas.fa-search
    div(id="users")

{% endblock %}
