{% macro icon(name) %}
span.icon
 i{{name}}
{% endmacro %}
{% macro bool_icon(flag) %}
{% if flag %}
span.icon
 i.fas.fa-check
{% else %}
span.icon
 i.fas.fa-times
{% endif %}
{% endmacro %}
{% extends 'layout.html' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.mt-5.mb-5
 .columns
  .column.is-8.is-offset-2
   .section
    .title.is-1 {{team.name}}
    {% if team.is_active and not team.is_public %}
    .subtitle paid until {{team.paid_until}}
    {% endif %}

   .section
    h1
    h1.block.title.is-3 Members
    h2.subtitle.is-5 List of users subscribed to your team
     {% if members %}
     nav.pagination(role="navication" aria-label="pagination")
      {% if page %}
      a.pagination-previous(href="{{url_for('settings', team_name=team.name).include_query_params(type=type, size=size, page=page-1)}}") Previous
      {% endif %}
      {% if documents | length == size %}
      a.pagination-next(href="{{url_for('settings', team_name=team.name).include_query_params(type=type, size=size, page=page+1)}}") Next Page
      {% endif %}
      table.table
       thead
        tr
         th
          span.icon
           i.fas.fa-user
         th
          span.icon
           i.fas.fa-user-plus
         th
          span.icon
           i.fas.fa-file-plus
         th
          span.icon
           i.fas.fa-user-times
         th
          span.icon
           i.fas.fa-edit
         th control
       {% for member in members %}
       tr
        td {{member.user.username}}
        td {{bool_icon(member.can_invite_users)}}
        td {{bool_icon(member.can_post_documents)}}
        td {{bool_icon(member.can_delete_documents)}}
        td {{bool_icon(member.can_modify_documents)}}
        td
         a.button.is-small(href="{{url_for('remove_user', team_name=team.name, membership_id=member.id)}}")
          span.icon.is-small
           i.fas.fa-trash
       {% endfor %}
      {% else %}
      p No members have joined yet.
      {% endif %}

   .section
    h1.block.title.is-3 Invite Users
    h2.subtitle.is-5 Add others to your team
    .control.has-icons-left
     input.input(type="tags" id="invite-users" name="name" hx-post="settings/user/search" hx-trigger="input changed delay:500ms, search" hx-target="#users")
     span.icon.is-left
      i.fas.fa-search
    div(id="users")

   {% if team.is_public or not team.paid_until %}
   .section.box.is-danger
    h1.block.title.is-3 Membership
    h2.subtitle.is-5 Upgrade to Private Member
    a.button.is-medium.is-danger.is-outlined(href="{{ url_for('team_billing', team_name=team.name) }}")
     span.icon.is-medium
      🎉
     span Upgrade to Private Team
    div(id="users")
   {% endif %}

{% endblock %}
